.form {
    margin: 50px;
  }
  

  .form input  {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 200px;
    margin: 10px auto;
    
  }

.form-floating {
    margin: 20px auto;
    width: 200px;
  };

